/* BEGIN CSS contao culture events bundle */

.cultureEventsListingContainer,
.cultureEventsTripsContainer,
.cultureEventsArchiveContainer {
    margin-top: 30px;
}

.cultureEventContainer,
.cultureArchiveContainer {
    clear: both;
}

.cultureEventSchedule,
.cultureArchiveYear {
    width: 100px;
    float: left;
}

.cultureEventContent {
    margin-left: 105px;
    padding-left: 25px;
    border-left: solid #000000 3px;
}

.cultureArchiveContent {
    margin-left: 105px;
    padding-left: 25px;
    border-left: solid #000000 1px;
}

.cultureEventSeparator {
    margin: 40px 0 40px 105px;
}

.cultureArchiveSeparator {
    margin: 30px 0 30px 0;
}

.cultureEventSeparator hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.cultureArchiveYear {
    font-weight: bold;
    font-size: 1.2em;
}

ul.cultureArchiveList {
    list-style-type: none;
    padding: 0;
}

.cultureEventStartDate, .cultureEventEndDate {
    font-weight: bold;
    color: rgb(205,21,43);
}

.cultureEventEndSeparator {
    margin: 8px 0 8px 0;
}

.cultureEventTitle {
    font-size: 23px;
    margin-bottom: 5px;
}

.cultureEventSubtitle {
    font-size: 23px;
    color: rgb(205,21,43);
}

.cultureEventDescription {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* END CSS contao culture events bundle */
